.dropdown {
    position: relative;
    display: inline-block;
}
.header-dropdown{
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 16px;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown a:hover {background-color: #ddd;}


.show {display: block;}

#profile-pic{
    width: 100%;
}