<footer>
  <ul>
    <li><a href="#">Termos de uso</a></li>
    <li><a href="#">Política de privacidade</a></li>
    <li><a href="#">Política de conteúdo</a></li>
    <li><a href="#">Sobre</a></li>
    <li><a href="#">Contato</a></li>
  </ul>
  <p><em>© Wined+ 2021</em></p>
</footer>

</body>
</html>