<!DOCTYPE html>
<html lang = 'pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home | Wined +</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/landing-page-styles.css'>
    <link rel="stylesheet" href="stylesheets/<%= style %>.css">
    
    
</head>
<body>
    <header>
        <img id="logo" src="images/logo-wined-header.svg" alt="Wined logo">
        <button type="button" class="hamburger-menu">
            <img class="menu" src="images/hamburger.svg" alt="Hamburger menu"/>
        </button>
        <nav class="navbar">
            <a href="#" class="home">
                Início
            </a>
            
            <a href="#" class="what-is-wined">
                O que é a Wined +
            </a>
            
            <a href="#" class="confraries">
                Confrarias
            </a>
            <a href="/login" id="login">
                Entrar
            </a>
        </nav>
    </header>