<!DOCTYPE html>
<html lang = 'pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home | Wined +</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/landing-page-styles.css'>
    <link rel="stylesheet" href="stylesheets/<%= style %>.css">
    
</head>
<body>
    <header>
        <img id="logo" src="images/logo-wined-header.svg" alt="Wined logo">
        <button type="button" class="hamburger-menu">
            <img class="menu" src="images/hamburger.svg" alt="Hamburger menu"/>
        </button>
        <nav class="navbar">
            <a href="#" class="home">
                Início
            </a>
            
            <a href="#" class="what-is-wined">
                O que é a Wined +
            </a>
            
            <a href="#" class="confraries">
                Confrarias
            </a>

        </nav>
    </header>