
<section class=topp>
    <div class="top">
        <div class="backgroundPic">
            <img alt="foto de fundo" src="../../images/background-1430057_640.jpg">
        </div>   
    </div>
    
    <div class ="topOptions">
        <form action="/perfil" method="POST" enctype="multipart/form-data">
            
            <button type="submit"><div class ="profilePic">
                <input type="file" name="avatarFile" id="file" multiple>
            </div></button>
        </form>
                       
    </div>
    <div class="userName"><a href="#"><h5><%= user.name + " " + user.surname %></h5></a></div> 
</section>