
<section class=topp>
    <div class="top">
        <div class="backgroundPic">
            <label for="backgroundFileInput">
                <img src="../../images/background-picture.svg" alt="Foto de capa" id="backgroundPicture">
            </label>
            <input 
                type="file" 
                name="backgroundFile" 
                id="backgroundFileInput" 
                accept="image/png, image/jpeg"
            >
        </div>   
    </div>
    
    <div class ="topOptions">
        <div class ="profilePic">
            <label for="avatarFileInput">
                <img src="../../images/profile-picture.svg" alt="Foto de perfil" id="avatarPicture">
            </label>
            <input 
                type="file" 
                name="avatarFile" 
                id="avatarFileInput" 
                accept="image/png, image/jpeg"
            >
        </div>         
    </div>
    <div class="userName"><a href="http://localhost:3000/perfil/<%=user.id%>"><h5><%= user.name + " " + user.surname %></h5></a></div> 
</section>