
<%- include('./partials/header')  %>

    <main>
        <section class="dash">
            <%- include('./partials/topview') %>
             <div class="userDescription">
                <p><%= user.description %></p>
            </div>
             <div class= dashMenu>
                <div class="brotherhoodMenu">
                    <button>Adega</button>
                    <button>Favoritos</button>
                </div>
                <div class="brotherhoodMenu">   
                    <button>Criar Confraria</button>
                    <button>Editar Confraria</button>
                </div>
            </div>
        </section>
        <section class="confraria">
        <img class="confraria-cover" src="images/confraria-cover.svg" alt="confraria-cover">
        <section class="settings">
            <div class="confraria-title">
                <h2>Nome da Confraria ></h2>
                <div>
                    <p>Since 2021</p>
                    <img src="images/dot.svg" alt="dot-separation">
                    <p>12 membros</p>
                </div>
            </div>
            <div class="brotherhoodMenu">
                <button>Agenda de Reuniões</button>
                <button>Convidar Confrade</button>
            </div>
            <div class="confraria-members">
                <img src="images/mobile-confraria-members.svg" alt="membros">
                <img src="images/settings-icon.svg" alt="settings-icon">
            </div>
        </section>

        
            <div class="description">
                <p>Descrição da Confraria</p>
            </div>
        
        <section class="create-post-section">
            <div class="create-post-buttons">

            </div>
            <div class="write-post">
                <img src="images/avatar-icon.svg" alt="avatar">
                <div class="write-postPrompt">
                    <p>Compartilhe sua experiência...</p>
                </div>
                
                
            </div>
            <div class="upload-media-post">
                <div>
                    <img src="images/add-picture.svg" alt="add-picture">
                    <p>Foto</p>
                </div>
                <section class="upload-media-separator"></section>
                <div>
                    <img src="images/add-video.svg" alt="add-video">
                    <p>Vídeo</p>
                </div>
            </div>
        </section>
        <section class="posts-filter">
            <p>Atividades Recentes</p>
        </section>
    </section>
    </main>
    
<%- include('./partials/footer')  %>  