
<body>
    <main>
        <h1>Ops, algo deu errado...</h1>
        <p>É necessário haver pelo menos um chanceler por confraria. Por favor, escolha um outro confrade para se tornar chanceller. <br>
           Para tanto, acesse a confraria desejada, clique em editar, escolha o confrade e clique no botão "tornar chanceler"
        </p>
    </main>
</body>