<head><link rel="stylesheet" href="../../stylesheets/dashboard.css"></head>
<%- include('./partials/header') %>

<section class="profileInfo">
    <%- include('./partials/topview') %>
    <div class="userDescription">
        <p><%= user.description %></p>
    </div>
    <div class= dashMenu>
        <div class="brotherhoodMenu">
            <a href="#"><p>Adega</p></a>
            <a href="http://localhost:3000/favorites"><p>Favoritos</p></a>
        </div>
        <div class="brotherhoodMenu"> 
            <a href="#"><p>Criar Confraria</p></a>
            <a href="#"><p>Editar Confraria</p></a> 
        </div>
</section>

<section class="myBrotherhoods">

</section>

<section class="notifications">

</section>

<%- include('./partials/footer')  %>  