<head>
  <link rel="stylesheet" href="../../stylesheets/event.css">
</head>

<%- include('./partials/header') %>

<body>
    
  <main>
    <section class = registerForm>
    <div id="call">
      Crie um evento e compartilhe momentos <h1 id="logo">Wined+</h1>
    </div>
    <form action='/confraria/eventos/<%= brotherhood %>'method="POST" class="formulario">

      
      <label for="name">
        <input type="text" name="name" id="name" placeholder="Nome do evento">
      </label>
     
      <div>
        <label for="cep">
          <input type="text" name="cep" id="cep" placeholder="CEP">
        </label>
        
        <label for="street">
          <input type="text" name="street" id="street" placeholder="Endereço">
        </label>
        
        <label for="number">
          <input type="text" name="number" id="number" placeholder="Número">
        </label>
        <label for="complement">
          <input type="text" name="complement" id="complement" placeholder="Complemento">
        </label>
        <label for="city">
          <input type="text" name="city" id="city" placeholder="Cidade">
        </label>
        
        <label for="state">
          <input type="text" name="state" id="state" placeholder="Estado">
        </label>
        
      </div>      
      
      <div id="datetime">
        <label for="date">
          <input type="date" name="date" id="date" placeholder="Digite a Data do Evento">
        </label>
        <label for="time">
          <input type="time" name="time" id="time" placeholder="Hora">
        </label>
      </div>

      <button class="button btn-form" type="submit">Cadastrar</button>

    </form>
    </div>
</section>
  </main>
</body>

<%- include('./partials/footer')  %>  
<script type="text/javascript" src="../../js/dropdown.js"></script> 
</html>