<%- include('./partials/header') %>

<body>
    <main class="main">

        <%- include('./partials/topView') %>
        
        <section class="favoritesList">
            <h3>VINHOS FAVORITOS</h3>
            <div>

            </div>
        </section>
        <section class="wishList">
            <h3>VINHOS DESEJADOS</h3>
            <div>

            </div>
        </section>
    </main>

    
</body>
</html>

<%- include('./partials/footer')  %>  