<%- include('./partials/headerUnlogged')  %>

<body>
    <main>
<!-- parte que é o 'carrossel' de fotos + o botão para cadastro na wined+ -->
        <section class="scroll-pic">
            <div class="photos">
                <img class="pic-landing" src="images/pic-landing1.svg" alt="foto slide"/> 
                <img class="pic-landing" src="images/pic-landing2.svg" alt="foto slide"/> 
                <img class="pic-landing" src="images/pic-landing3.svg" alt="foto slide"/> 
                <img class="pic-landing" src="images/pic-landing1.svg" alt="foto slide"/> 
            </div>
            <img class="pic-text" src="images/pic-landing-text.svg" alt="text"/>
            <a href="http://localhost:3000/cadastrar" class="login-up">CADASTRAR</a>
        </section>

    <!-- aqui começa a parte do que é a Wined     -->
        <section class="wined-what-is">
            <div class="what-is">
                <div id="h1">
                    <h1>
                        MUDANDO SUA EXPERIÊNCIA EM VINHOS
                    </h1>
                </div>
                <div>
                    <img class="text-wt-wined" src="images/wined-what-is.svg" alt="o que wined"/>
                <div class="what-is-details">
                    <img class="drink-wine-1" src="images/drink-wine-1.svg" alt="bebendo vinho"/>
                    <div>
                        <p class="text">A Wined+ é uma rede social que conecta você e seus amigos para compartilhar momentos especiais. Aqueles momentos
                            que só são possíveis quando você faz o que mais gosta, ao lado das pessoas que você ama.
                            Aqui você poderá criar confrarias, onde você poderá trocar mensagens, fotos e vídeos e guardar as lembranças de cada encontro!
                            Você pode criar cadastrar os encontros com seus confrades e até pesquisar seus vinhos favoritos e guardar a 
                            lista de vinhos que gostaria de provar. <br> Faça já seu cadastro e convide seus amigos! </p>
                    </div>
                </div>
                </div>
            </div>
            <div id="team-details">
                <div class="h2">
                    <p>O<p class="sublinhado">Time</p></p>
                </div>
                <input type="radio" name="slide-team" id="team-um" checked>
                <input type="radio" name="slide-team" id="team-dois">
            <div class="team">
                <article class="member">
                    <img class="team1" src="images/team.svg" alt="pessoa 1 do time"/>
                    <h3 class="name-member">
                    Jailson 
                    </h3>
                    <p class="text">Soteropolitano, gosta de tecnologia, música, cinema e fotografia. Nerd padrão.</p>    
                </article>

                <article class="member">
                    <img class="team2" src="images/team.svg" alt="pessoa 2 do time"/>
                    <h3 class="name-member">
                    Giovanna 
                    </h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida orci dui, vel
                    sagittis tellus egestas vel.</p>    
                </article>
                <article class="member">
                    <img class="team1" src="images/team.svg" alt="pessoa 1 do time"/>
                    <h3 class="name-member">
                    Diego 
                    </h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida orci dui, vel
                    sagittis tellus egestas vel.</p>    
                </article>

                <article class="member">
                    <img class="team2" src="images/team.svg" alt="pessoa 2 do time"/>
                    <h3 class="name-member">
                    Fábio
                    </h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida orci dui, vel
                    sagittis tellus egestas vel.</p>    
                </article>
            </div>
            </div>    
        </section>
        <section class="what-is-Brotherhood">
            <div class="what-is">
                <img class="brotherhood" src="images/brotherhood-what.svg" alt="o que e confraria"/>
                <img class="friends" src="images/friends.svg" alt="confraria"/>
                <p class="text">
                    Confrarias de vinhos são formadas por um grupo de pessoas apaixonadas pelo tema, que se reunem 
                    periodicamente para trocar experiências, compartilhar conhecimento, e, acima de tudo, compartilhar
                    momentos felizes.
                    
                    
                    <br>
                    <br>
                    Nosso objetivo é criar mais um meio para conectar essas pessoas. Agora, você e seus amigos podem 
                    compartilhar fotos, mensagens, lembranças dos encontros em uma rede social feita para você.  
                </p>
            </div>
            <div class="how-many-people">
                <h2>Quantas people são necessárias?</h2>
                
                <p class="text2">
                    Confrarias geralmente reunem grupos de no mínimo  <br>
                </p>
                <p id="number-people">6</p>
                <p class="text2">
                    e no máximo <br>
                </p>
                <p id="number-people">12</p>
                <p class="text2">
                    pessoas. Geralmente têm um tema definido, como um tipo de vinho, por exemplo.
                </p>
            </div>
            <div class="create-Brotherhood">
                <a href="#">CADASTRE-SE</a>
            </div>
        </section>
        <section class="people-wined">
            <div class="people-world">
                <img src="images/world-peoples.svg" alt="usuarios wined+"/>
                <div class="h2">
                    <p>WINEDEANOS EM <p class="sublinhado">NÚMEROS</p></p>
                </div>
                <p class="number-user">25.430
                <img class="plus-confetti" src="images/plus-confetti.svg" alt="enfeites"/></p>
            </div>
            <div class="avaliations">
                <div class="h2">
                    <p><p class="sublinhado">AVALIAÇÕES</p>DA PLATAFORMA</p>
                </div>
                <img class="star" src="images/star.svg" alt="estrela de avaliacao"/>
                <input type="radio" name="slide-comments" id="comments-um" checked>
                <input type="radio" name="slide-comments" id="comments-dois">
                <div class="comments">
                    <div class="comments-1">
                        <div class="avaliation-people">
                            <img class="pic-user1" src="images/pic-user1.svg" alt="imagem do usuario"/>
                            <div class="name-user">
                                Scarlet withch
                            </div>
                            <div class="publication-user">
                                6 May, 2020
                            </div>
                            <img class="star-avaliation" src="images/star-5-avaliation.svg" alt="avaliacao"/>
                            <span>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                                </article>
                            </span>
                        </div>
                        <div class="avaliation-people">
                            <img class="pic-user2" src="images/pic-user2.svg" alt="imagem do usuario"/>
                            <div class="name-user">
                                Scarlet withch2
                            </div>
                            <div class="publication-user">
                                7 May, 2020
                            </div>
                            <img class="star-avaliation" src="images/star-4-avaliation.svg" alt="avaliacao"/>
                            <span>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                                </article>
                            </span>
                        </div>
                    </div>
                    <div class="comments-2">
                        <div class="avaliation-people">
                            <img class="pic-user3" src="images/pic-user3.svg" alt="imagem do usuario"/>
                            <div class="name-user">
                                Scarlet withch3
                            </div>
                            <div class="publication-user">
                                8 May, 2020
                            </div>
                            <img class="star-avaliation" src="images/star-4-avaliation.svg" alt="avaliacao"/>
                            <span>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                                </article>
                            </span>
                        </div>
                        <div class="avaliation-people">
                            <img class="pic-user4" src="images/pic-user4.svg" alt="imagem do usuario"/>
                            <div class="name-user">
                                Scarlet withch4
                            </div>
                            <div class="publication-user">
                                9 May, 2020
                            </div>
                            <img class="star-avaliation" src="images/star-2-avaliation.svg" alt="avaliacao"/>
                            <span>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
                                    nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                                </article>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call">
                <div class="what-is-stay">
                    <span>O que você está esperando?</span>
                </div>
                <a href="/cadastrar" class="create-count">CRIAR CONTA</a>
                <img  class="congratuations" src="images/congratuations.svg" alt="parabens"/>
            </div>
        </section>
       
    </main>

    <%- include('./partials/footer')  %>