<%- include('./partials/header') %>

<section>

    <form action='/cadastrar/password?_method=PUT' method="POST" class="formulario">
        <label>
            <input class="password-form" type="password" name="old_password" id="password" placeholder="Digite a senha antiga"><i class="bi bi-eye-slash" id="togglePassword"></i>
        </label>
        
        <label>
            <input class="password-form" type="password" name="new_password" id="password" placeholder="Digite uma nova senha"><i class="bi bi-eye-slash" id="togglePassword"></i>
        </label>
        <button class="btn-form" tyoe="submit">Enviar</button>
    </form>


</section>

<%- include('./partials/footer')  %>  

