<head><link rel="stylesheet" href="../../stylesheets/password.css"></head>

<%- include('./partials/header') %>
<main>

    <section class="passwordForm">

        <form action='/cadastrar/password?_method=PUT' method="POST" class="formulario">
            <div id="call">
                Troque sua senha 
              </div>
            <div id="call-text">
                <h2>Troque sua senha regularmente e evite senhas fáceis, como data de nascimento, por exemplo.</h2>
            </div>
    
            <div>
                <label>
                    <input class="password-form" type="password" name="old_password" id="password" placeholder="Digite a senha antiga"><i class="bi bi-eye-slash" id="togglePassword"></i>
                </label>
                <br>
                <label>
                    <input class="password-form" type="password" name="new_password" id="password" placeholder="Digite uma nova senha"><i class="bi bi-eye-slash" id="togglePassword"></i>
                </label>
                
            </div>
            <button class="btn-form3" tyoe="submit">Enviar</button> 
            
        </form>
    
    </section>

</main>


<%- include('./partials/footer')  %>  

