<% if(!user){ %>
    <%- include('./partials/headerUnlogged') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>



<h1>Privacy policy</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>

<h2>Data Controller</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper
</p>

<h2>Purpose and legal basis</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper
</p>

<h2>Categories of personal data</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper.
</p>

<h2>Cookies</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>

<h2>Transfer of data to third countries</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Sharing of data</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Your rights as a user</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Data retention and account deletion</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Security</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Changes to Privacy Policy</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
</p>

<h2>Questions or concerns</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
</p>

<%- include('./partials/footer') %>