<%- include('./partials/header') %>

    <main>
        <section class = "topView">
            <div class="top">
                <div class="backgroundPic">
                    <img alt="foto de fundo" src="images/background-1430057_640.jpg">
                </div>
               
            </div>
            
            <div class ="topOptions">
                <div class ="profilePic">
            </div>
                <div class="navbar">
                    <a href="#"><img src="images/home.svg"></a>
                    <a href="#"><img src="images/likeIcon.svg"></a>
                    <a href="#"><img src="images/wishListIcon.svg"></a>
                    <a href="#"><img src="images/notificationsIcon.svg"></a>
                </div>                
            </div>

                <div class="profileInfo">
                    <div class="dashboardSection">
                        <h2>Nome do Usuário<br></h2>    
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                   
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                </div>    
        </section>
        <section class="dash">
            <div class="navbarMenu">
                <a href="#"><h4>Home</h4><br></a>
                <a href="#"><h4>Lista de Desejos</h4><br></a>
                <a href="#"><h4>Vinhos Favoritos</h4><br></a>
                <a href="#"><h4>Notificações</h4><br></a>
            </div>

            
            <div class="fraternity">
                <div class="fraternityMenu"> 
                    <h3>MINHAS CONFRARIAS</h3>
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 1</h4>
                        </a>
                    </div>  
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 2</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section> 

    </main>

<%- include('./partials/footer')  %>  