<!DOCTYPE html>
<html lang = 'pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Perfil do Usuário</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="stylesheets/dashboard.css">
    <script src='main.js'></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <h1><em>Wined+</em></h1>
        <button><img alt = "configurações" src ="images/hamburgerButton.svg"></button>
    </header>
    <main>
        <section class = "topView">
            <div class="top">
                <div class="backgroundPic">
                    <img alt="foto de fundo" src="images/background-1430057_640.jpg">
                </div>
               
            </div>
            
            <div class ="topOptions">
                <div class ="profilePic">
            </div>
                <div class="navbar">
                    <a href="#"><img src="images/likeIcon.svg"></a>
                    <a href="#"><img src="images/wishListIcon.svg"></a>
                    <a href="#"><img src="images/notificationsIcon.svg"></a>
                </div>                
            </div>

                <div class="profileInfo">
                    <div class="dashboardSection">
                        <h2>Nome do Usuário<br></h2>    
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                   
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                </div>    
        </section>
        <section class="dash">
            <div class="navbarMenu">
                <a href="#"><h4>Home</h4><br></a>
                <a href="#"><h4>Lista de Desejos</h4><br></a>
                <a href="#"><h4>Vinhos Favoritos</h4><br></a>
                <a href="#"><h4>Notificações</h4><br></a>
            </div>

            
            <div class="fraternity">
                <div class="fraternityMenu"> 
                    <h3>MINHAS CONFRARIAS</h3>
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 1</h4>
                        </a>
                    </div>  
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 2</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section> 

    </main>
    <footer>
        <p><em>© Wined+ 2021</em></p>
    </footer>
    
</body>
</html>