<%- include('./partials/header') %>

<body>
  <main>
    <div id="call">
      Atualize seu perfil na <h1 id="logo">Wined+</h1>
    </div>
    <div id="call-text">
      <h2>Personalize seu perfil e mantenha seus dados atualizados!</h2>
    </div>
    <br>
    

    <%- include('./partials/topView') %>

    <form action='#'method="POST" class="formulario">
   
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Altere seu e-mail cadastrado">
      </label>
      <label for="name">
        <input type="text" name="name" id="name" placeholder="Nome">
      </label>
      <label for="surname">
        <input type="text" name="surname" id="surname" placeholder="Sobrenome">
      </label>
      <label for="userBio">
        <input type="text" name="userBio" id="userBio" placeholder="Conte um pouco sobre você e sua paixão por vinhos">
        </label>
      <label for="password">
        <input class="password-form" type="password" name="password" id="password" placeholder="Defina uma nova senha aqui, se quiser!">
      </label>
      <button class="button btn-form" type="submit">Atualizar Perfil</button>
    </form>

    <form action='#'method="POST" class="formulario">
  <div class="delete">
    <div class = "delete-form">
    <label>
      <input type="checkbox" name="delete" id="delete">
    </label>
    <div class="call-text">
      <p>Desejo remover minha conta.</p>
    </div>
  </div>
      <button class="button btn-form" type="submit">Remover Perfil</button>
    </div>
  </form>
 
  </main>
</body>
</html>