<%- include('./partials/header') %>

    <main>
        <section class = "topView">
            <%- include('./partials/topView') %>

                <div class="profileInfo">
                    <div class="dashboardSection">
                        <h2><%= user.name + " " + user.surname %><br></h2>    
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                   
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                </div>    
        </section>
        <section class="dash">
            <div class="navbarMenu">
                
            </div>

            
            <div class="fraternity">
                <div class="fraternityMenu"> 
                    <h3>Minhas Confrarias</h3>
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 1</h4>
                        </a>
                    </div>  
                    <div>
                        <a href="#">
                            <div class="fraternityPic"></div>
                            <h4>Confraria 2</h4>
                        </a>
                    </div>
                </div>
                <div class="notifications">
                    <h3>Notificações</h3>
                </div>
            </div>
        </section> 

    </main>

<%- include('./partials/footer')  %>  