<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/register.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <section class = registerForm>
    <div id="call">
      Junte-se à <h1 id="logo">Wined+</h1>
    </div>
    <div id="call-text">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id.</h2>
    </div>
    <br>
    <% if(typeof(errors) != "undefined"){ %>
      <p>Não foi possível realizar o cadastro pois:</p>
      <ul>
        <% errors.forEach((error)=>{ %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action='/cadastrar'method="POST" class="formulario">
      <div class="terms">
        <label>
          <input type="checkbox" name="terms" id="terms">
        </label>
        <div class="terms-text">
          Aceito os <a id ="terms"href="http://localhost:3000/termos">Termos de Uso</a> e <a id ="terms" href="http://localhost:3000/privacidade">Política de Privacidade</a>.
        </div>
      </div>
      <p>E-mail</p>
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
      </label>
      <p>Nome</p>
      <label for="name">
        <input type="text" name="name" id="name" placeholder="Digite seu Nome">
      </label>
      <p>Sobrenome</p>
      <label for="surname">
        <input type="text" name="surname" id="surname" placeholder="Digite seu Sobrenome">
      </label>
      <p>Data de Nascimento</p>
      <label for="birthday">
        <input type="date" name="birthday" id="birthday" placeholder="Data de Nascimento">
      </label>
      <p>Conte-nos sobre você</p>
      <label for="description">
        <input type="text" name="description" id="description" placeholder="Conte um pouco sobre você e sua paixão por vinhos">
        </label>
      
      <label for="password">
        <input class="password-form" type="password" name="password" id="password" placeholder="Defina uma senha">
      </label>
      
      <button class="button btn-form" type="submit">Junte-se à Wined+</button>
    </form>
    <div class="social-fields">
      <a href="#" class="social-field facebook">
        <img src="images/facebook-icon.svg" alt="Continuar com o Facebook" />
        <p>Continuar com o Facebook</p>
      </a>
      <a href="#" class="social-field google">
        <img src="images/google-icon.svg" alt="Continuar com o Google" />
        <p>Continuar com o Google</p>
      </a>
    </div>
    <div class="perfil-question text-montserrat">
      <p>Você já tem um perfil?</p>
      <a href="http://localhost:3000/login">Faça login</a>
    </div>
  </section>
  </main>
</body>
</html>