@keyframes slider {
    0% { margin-left: 0; }
    30% { margin-left: 0; }
    33% { margin-left: -100%; }
    63% { margin-left: -100%; }
    66% { margin-left: -200%; }
    96% { margin-left: -200%; }
    100% { margin-left: -300%; }
}