* {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h5{
    margin: 30px;
    font-weight: 500;
}

h6{
    font-weight: 500;
    margin: 10px;
}
h2{
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
}

.userDescription{
    margin: 10px;
}

.confraria-title > div > p{
    font-size: 12px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: whitesmoke;
}

.post {
    margin-top: 10px;
    padding: 10px;
    background: white;
    border-radius: 25px;
    width: 870px;
}

.post > div > p {
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.postMenu {
    padding: 5px;
}

.postMenu > button{
    font-size: 15px;
    padding: 5px;
}

.confraria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73%;
    padding-right: 1%;
}

.userName > h5{
    padding: 20px;
}

.dash{
    width: 25%;
    
    
}

.topOptions{
    height: 15vh;
}

.topp{
    width: 100%;
}

.confraria-cover {
    width: 100%;
    max-width: 1100 ;
    height: auto;
}

.settings {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 23px;
    padding: 0 20px;
    
}

.setting-search-buttons {
    display: flex;
    align-items: center;
    /* padding-right: 5px; */
}

.setting-search-buttons div {
    height: 40px;
    width: 40px;
    background: #C41818;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.confraria-title > h2 {
    font-weight: 500;
    text-decoration: underline;
}

.confraria-title > div {
    display: flex;
    justify-content: space-around;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
}

.confraria-members {
    display: flex;    
    padding: 0 20px;
    position: relative;
    justify-content: space-between;
}
.brotherhoodMenu{
    display: flex;
    flex-direction: row;
}
#leaveBrotherhood, .brotherhoodMenu > button, .brotherhoodMenu > a {
    background: #287A5C;
    border-radius: 25px;
    height: 40px;
    width: 170px;
    margin: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    font-variant: small-caps;
    color:white;
    text-decoration: none;
}

.member{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.member > a{
    height: fit-content;
    width: 50px;
    background: gainsboro;
    margin: 0.75px;
}

.member > div{
    margin: 1px;
    padding: 15px 0px;
}

.member > div > a{
    
    padding: 10px;
    
}

.brotherhoodMenu > a > p{
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.description, .userDescription{
    display: flex;
    flex-direction: column;
    background-color: #FFCDC1;
    border-radius: 25px;
    
}

.dashMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.description{
    margin: 30px;
    width: 90%;
}

.userDescription{
    position:relative;
    width: 95%;
    right: 5px;
}

.description > p, .userDescription > p{
    
    padding: 30px;
}

/*.confraria-members > img {
    /* box-shadow: 2px 4px 20px rgb(0 0 0 / 25%); */
/*}*/

.confraria-members > img:last-child {
    position: absolute;
    right: 30px;
    top: 22.5px;
}

.create-post-section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background: #9B0000;
    border-radius: 25px;
}

.comments{
    display: none;
    justify-content: right;
    margin-left: 50px;
    flex-direction: column;
}

.show-comments{
    display: flex;
}

.edit-comment{
    display: none;
    width: 95%;
    border-radius: 25px;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    justify-content:space-around;
    height: 70px;
    background:#9B0000;
    justify-self: right;

}

.show-edit-comment{
    display: flex;
}



.create-comment{
    display: flex;
    width: 95%;
    border-radius: 25px;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    justify-content:space-around;
    height: 70px;
    background:#9B0000;
    justify-self: right;
}

.create-post-buttons {
    width: 100%;

    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.create-post-buttons button {
    background: #C41818;
    width: 120px;
    height: 38px;
    border-radius: 20px;
}

.write-post, .write-comment {
    width: 90% ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 3px;
}

.write-comment > img{
    padding: 15px;
}

.hidden, .hidden2, .hidden3{
    display: none;
}

.write-postPrompt, .write-commentPrompt, .edit-commentPrompt{
    background: whitesmoke;
    width: 85%;
    border-radius: 22px;
    font-size: 12px;
    text-align: justify;
    line-height: 1;
    min-height: 35px;
    padding: 10px;
    overflow-wrap: break-word;
}

.write-postPrompt > div{
    padding-bottom: 1px;
}

.write-post > p {
    
    height: 28px;
    border: 2px solid black thin;
    border-radius: 22px;
    padding: 6px 0;
    font-size: 12px;
    text-align: center;
    line-height: 1;
}

.upload-media-post {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.upload-media-separator {
    width: 0;
    border-right: 1px solid white;
}

.upload-media-post div {
    display: flex;
    align-items: center;
}

.upload-media-post div > img {
    margin-right: 8px;
}

.posts-filter {
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 200px;
}