.btn-form1 {
    margin: 24px 0px 14px;
    width: 30%;
    height: 40px;
    background: #9B0000;
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .btn-add {
    margin: 24px 0px 14px;
    width: 30%;
    height: 40px;
    background: #287A5C;
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .registerForm{
    margin-bottom: 10px;
  }

/* #chancellorMenu, #member{
  display: flex;
}
#member{
  justify-items: stretch;
} */

 

  #addMember-addInput{
    display: flex;
    justify-content: space-evenly;
  }

  #memberOptions{
    display: flex;
    align-items: center;
    height: 35px;
    
  }

  #memberOptions > td > span, #memberOptions > td > a {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }

  #memberOptions > td > a{
    
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 25px;
    width: 50px;
  }

  #remove{
    background: #9B0000;
  }

  #chancellor{
    background: #287A5C;
  }

  td{
    padding: 15px;
    margin: 1px;
  }
  

  #memberName{
    width: 250px;
  }

