* {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html{
  font-size: 10px;
}

button {
  background: none;
  cursor: pointer;
}

ul > li {
  list-style-type: none;
}

textarea {
  resize: none;
}

header {
  background-color: #9B0000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8rem;
  padding: 1.5rem;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}

#call, #logo, #call-text > h2, .btn-form, .text-montserrat {
  font-family: 'Montserrat', sans-serif;
}

#navbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  transition: 0.2s;
}

#hamburger-container {
  padding: 0.8rem;
  transition: 0.2s;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.8rem;
  right: -14rem;
  z-index: 1000;
  background-color: #FFFFFF;
  height: calc(100vh - 48px);
  width: 14rem;
  transition: 0.2s;
  visibility: hidden;
}

#menu > li > a {
  display: block;
  padding: 0.8rem;
  font-size: 1.4rem;
  color:#9B0000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25);
}

#navbar.active {
  overflow: visible;
}

#navbar.active #hamburger-container {
  margin-right: 9rem;
}

#navbar.active #menu {
  right: 0;
  visibility: visible;
}

#menu-desktop {
  display: none;
}

footer {
  background-color: #9B0000;
}

footer > nav> a {
  font-size: 12px;
  font-weight: 400;
  color: #612B2E;
  line-height: 30px;
}

footer > img{
  padding: 15px;
}

#footer-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#footer-menu > ul > li {
  margin: 1rem 0;
}

#footer-menu > ul > li > a {
  font-size: 1.2rem;
  color: #E6AAAE;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#copyright {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#copyright > img {
  width: 12rem;
}

.logo-footer {
  display: none;
}

.btn-form {
  margin: 24px 0px 14px;
  width: 100%;
  height: 40px;
  background: #9B0000;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}



#terms {
  color:#9B0000;
}

#logo {
  height: 3.2rem;
}

#profile-pic {
  width: 100%;
}

.separador, 
.social-field, 
.terms, 
form, 
.input-field {
  font-family: 'Roboto', sans-serif;
}

.input-field input, 
form > label > input, 
#addMember > div > label > input,
#newInput > div > label > input {
  background: #E5E5E5;
  height: 30px;
  border-radius: 4px;
  width: 100%;
  padding-left: 18px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}


#newInput > div > label > input {
  margin-top: 8px;
}

form > label > textarea {
  background: #E5E5E5;
  border-radius: 4px;
  width: 100%;
  padding: 18px;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.social-fields {
  display: flex;
  justify-content: space-between;
}

.social-field {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  min-width: 45%;
  justify-content: space-between;
  width: 150px;
  height: 40px;
  padding: 6px 15px;
  border-radius: 40px;
}

.social-field > img {
  width: 19.2px;
}

.facebook {
  background: #4A659F;
  color: #fff;
}

.google {
  border: 1px solid #EEE6DF;
  color: #A8A5A3;
}

.perfil-question {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 32px;
}

.perfil-question > p {
  margin-bottom: 3px;
}

.perfil-question > a {
  color: #9B0000;
}

.backgroundPic {
  width: 100%;
  position: relative;
}

.profilePic{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-left: 10px;
  position: absolute;
  bottom: -45%;
  overflow: hidden;
  align-items: center;
}

.backgroundPic > form > label > div {
  overflow: hidden;
  max-height: 180px;
}

.profilePic > form > label > img,
.backgroundPic > form > label > div > img {
    width: 100%;
}

.profilePic > form > input,
.backgroundPic > form > input {
    display: none;
}

.dropbtn {
  /* padding: 16px; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > button > div {
  border-radius: 50%;
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.bi, .bi-eye-slash {
  margin-left: -30px;
  cursor: pointer;
  font-size: 1.6rem;
}

.errors {
  color:#9B0000;
}

.btn-align {
  display: flex;
  justify-content: flex-end;
}

.btn-form2 {
  margin: 4px 4px 14px;
  background: #9B0000;
  border-radius: 30px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 6px;
}

#background-picture-src, 
#profile-picture-src {
  cursor: pointer; 
}

#background-btn,
#profile-btn {
  visibility: hidden;
}

#profile-btn {
  position: absolute;
  bottom: -40px;
  margin-left: 10px;
}

.cover {
  max-height: 360px;
  overflow: hidden;
}

.confraria-cover {
  width: 100%;
}

@media (min-width: 769px) {

  header {
    height: 8rem;
  }

  #logo {
    height: 5rem;
  }

  #hamburger-container {
    display: none;
  }

  #menu {
    position: static;
    flex-direction: row;
    top: auto;
    right: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: none;
    gap: 1rem;
    visibility: visible;
  }

  #menu > li > a {
    color: #E6AAAE;
    border: none;
    font-size: 1.8rem;
  }

  #navbar {
    position: static;
    top: auto;
    right: auto;
    z-index: auto;
  }

  #login {
    margin-left: 5rem;
  }

  .dropdown-content a {
    font-size: 1.6rem;
  }

  #footer-menu {
    position: relative;
    height: 6rem;
    justify-content: center;
    padding: 0 18rem;
  }

  #footer-menu > ul {
    display: flex;
    gap: 3rem;
    text-align: center;
  }

  .logo-footer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 3px;
  }

  #menu-desktop {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
  }

  #menu-desktop a {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
  }

  #profile-pic {
    /* width: 10rem; */
    /* height: 10rem; */
  }


  .errors {
    font-size: 1.4rem;
  }
}