.scroll-pic{
    position: relative;
    overflow: hidden;
}

.photos {
    display: flex;
    width: 400%;
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.pic-landing{
    width: 25%;
}

.pic-text {
    position: absolute;
    top: 15%;
    left: 0;
    max-width: 50%;
}

.login-up {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.4rem;
    width: 8.6rem;
    height: 2.9rem;
    background: #EC414B;
    box-shadow: 4px 4px 0px #f1876f, 8px 8px 0px #f5ae9e;
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.next-slide1 {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wined-what-is, 
.what-is-Brotherhood,
.what-is, 
.what-is > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wined-what-is, 
.what-is-Brotherhood {
    padding: 0 2.5rem;
}

.what-is {
    margin: 3rem 0;
}

#h1 {
    margin: 2rem 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

.what-is-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drink-wine-1 {
    width: 50%;
    margin: 1rem 0;
}

.text {
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.h2{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

.sublinhado{
    border-bottom: 4px solid #B42340;
}

#team-details {
    position: relative;
    overflow: hidden;
}

.team{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 200%;
    padding: 1rem 0;
    transition: all 500ms ease;
}

.member > p {
    padding: 1rem;
}

.name-member {
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin: 5px 0 5px;
    padding: 10px 20px 5px;
}

.next-slide {
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
}

#team-um {
    position: absolute;
    left: 46%;
    bottom: 0%;
    z-index: 1;
}

#team-dois {
    position: absolute;
    left: 51%;
    bottom: 0%;
    z-index: 1;
}

#team-um:checked ~ .team {
    transform: translateX(0%);
}

#team-dois:checked ~ .team {
    transform: translateX(-50%);
}

.friends {
    width: 80%;
    margin: 1rem 0;
}

.how-many-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 4px 4px 4px 4px rgb(232 70 21 / 74%);
}

.how-many-people > h2 {
    width: 100%;
    color: #fff;
    background: #E84615;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    padding: 10px;
}

.how-many-people > p {
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 5px 0 10px;
    padding: 5px 20px 5px;
}

#number-people {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 3rem;
}

/* botão criar confraria */
.create-Brotherhood {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 7rem;
    padding: 2rem 2rem;
    width: 15.5rem;
    height: 3.2rem;
    background: #EC414B;

    /* Button / Primary */

    box-shadow: 4px 4px 0px #F1876F, 8px 8px 0px #F5AE9E;
}

.create-Brotherhood > a {
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
}

.people-wined{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E0F0E6;
    margin: 1rem 0px 15rem;
    position: relative;
    padding: 30rem 0px 12rem;
}

.people-world{
    position:absolute;
    top:-5%;
    z-index: 2;
}

.number-user {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.avaliations {
    position:relative;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    overflow: hidden;
}

.star {
    width: 30%;
    align-self: center;
    margin: 1rem 0 4rem;
}

.comments {
    display: flex;
    width: 200%;
    padding: 2rem 0;
    transition: all 500ms ease;
}

.comments-1,
.comments-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comments-um {
    position: absolute;
    left: 46%;
    bottom: 0%;
    z-index: 1;
}

#comments-dois {
    position: absolute;
    left: 51%;
    bottom: 0%;
    z-index: 1;
}

#comments-um:checked ~ .comments {
    transform: translateX(0%);
}

#comments-dois:checked ~ .comments {
    transform: translateX(-50%);
}

.avaliation-people{
    display: flex;
    flex-wrap: wrap;
    background: #EFFFF5;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem 1.5rem ;
    justify-content: space-between;
    max-width: 85%;
}

.name-user {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
}

.publication-user {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    align-items: center;
    color: #7B7B7B;
}

.avaliation-people article {
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    padding: 0 1rem 0 4rem;
}

.call {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    margin: 5rem 0;
}

.what-is-stay{
    width: 149px;
    height: 70px;
    background: #7CE815;
    padding: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    align-self: flex-start;
}

.create-count{
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 20px;
    padding: 20px;

    width: 132px;
    height: 32px;


    background: #EC414B;
    /* Button / Primary */

    box-shadow: 4px 4px 0px #F1876F, 8px 8px 0px #F5AE9E;
}

.congratuations{
    position: absolute;
    bottom: -190%;
}

@media (min-width: 481px) {

    .wined-what-is, .what-is-Brotherhood {
        padding: 0 5rem;
    }

    .member {
        max-width: 30%;
    }

    .how-many-people {
        max-width: 80%;
    }

    .avaliation-people {
        max-width: 60%;
    }
}

@media (min-width: 769px) {
    main {
        margin: 0 auto;
        max-width: 70%; 
    }

    .what-is-details {
        flex-direction: row-reverse;
        gap: 5rem;
        margin-top: 3rem;
    }

    .what-is-details > div {
        max-width: 50%;
    }

    .text {
        font-size: 14px;
        line-height: 18px;
    }

    input[type="radio"] {
        display: none;
    }

    .team {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }

    .member {
        max-width: 40%;
    }

    .how-many-people {
        max-width: 60%;
    }

    .people-world {
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .people-world > img {
        width: 100%;
    }

    .avaliations {
        margin-top: 35rem;
    }

    .star {
        width: 15%;
    }

    .comments {
        width: 100%;
    }

    .avaliation-people {
        max-width: 80%;
    }

    .congratuations {
        width: 38rem;
    }
}