main {
    padding: 6.4rem 2.4rem 2.4rem;
}


.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.input-field input {
    margin: 10px 0;
}

.formulario a {
    color: #b71f39;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 500;
}

#forgot-password {
    text-align: right;
}

.separador {
    font-size: 12px;
    color: #736B6B;
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.separador div {
    width: 138px;
    height: 0;
    border-bottom: 1px solid #736B6B;
    margin: 0 10px;
}

.criar-cadastro {
    width: 100%;
}

.flash-success {
    background-color: green;
    font-size: 1.4rem;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

@media(min-width: 481px){
    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-image: url("../images/imagens-login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
   
    .loginForm{
        padding: 30px;
        background-color: white;
        border-radius: 25px;
        max-height: 60rem;
    }
}