main {
    display: flex;
    flex-direction: column;
    background-image: url("../images/imagens-register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.password-form {
    background: #E5E5E5;
    height: 30px;
    border-radius: 4px;
    padding-left: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    width: 100%;
}



.btn-form3{
    width: 100%;
    margin: 24px 0px 14px;
    height: 40px;
    background: #9B0000;
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF
}

.passwordForm{
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    width: 40%;
    height: 360px;
}