* { 
    color: white;
    font-family: 'Montserrat', sans-serif;
}

main{
    background: linear-gradient(#9B0000, #2e0000,  #2e0000);
    display: flex;
    flex-direction: column;
}

.backgroundPic, .backgroundPic > img{
    width: 100%;
    height: 20vh;    
}

.profilePic{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: thin white solid; 
    margin-left: 10px;
    position: relative;
    bottom: 7.5vh;  
}

.topOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3%;
    height: 15vh;
}

.profileInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar > a{
    margin: 8px;
}

.navbarMenu{
    display:none;
}

.dashboardSection{
    display: flex;
    width: 90%;
    flex-direction: column;
    background-color: #4f0000;
    border-radius: 8%;
    
}

.dashboardSection > h2{
    padding: 25px;  
}

.dashboardSection > p{
    padding: 25px;
    display: flex;
    align-self:flex-start;
    
}

.fraternityPic{
    height: 50px;
    width: 50px;
    border:solid white thin;
    border-radius: 25%;
}

.fraternityMenu{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-bottom: 3%;
    background-color: #4f0000;
    border-radius: 8%;
    margin-top: 10px;
}

.notifications{
    display: none;
}

.fraternityMenu > div > a{
    padding-left: 25px;
    display: flex;
    padding-bottom: 5px;
    align-items: center;

}

.fraternityMenu, .fraternityMenu > h3 {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 15px;     
}

.fraternityMenu div > a > h4{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;    
}

.fraternity{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
}

.main > section{
    
    border-top: solid  #287A5C thin;

} 

@media ( min-width: 1279px ){
    main{
        display: flex;
        flex-direction: row;
        
    }
    .topOptions{
        width: 100%;
    }

    .topView{
        display: flex;
        width: 67%;
        flex-direction: column;
        
    }
    .top{
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;  
    }
 

    .navbarMenu{
        display: flex;
        flex-direction: column;
        background-color: #4f0000;
        align-items: left;
        justify-content: center;
        height: 36.6vh;
        border-radius: 8%;
        padding: 20px   
        
    }
    .backgroundPic, .backgroundPic > img {
        width: 100%;
        display: flex;
        height: 26vh;
        
    }
    .topOptions {
        display: flex;
      
       
    }
    .profileInfo{
        width: 100%;
        padding-left: 3%;
             
    }

    .profilePic{
        width: 180px;
        height: 180px;
        position: relative;
        bottom: 15vh;
        left: 25px;

    }
    .fraternity{
        height: 38.9vh;
        display: flex;
    }
    .dash{
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: space-between;
        padding-left: 3%;
        padding-bottom: 2%; 
    }

    #notificationsBell{
        display: none;
    }
    .notifications{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 3%;
        background-color: #4f0000;
        border-radius: 8%;
        margin: 0;
    }

    .notifications > h3 {
        padding-bottom: 5px;
        padding-left: 15px;
        padding-top: 15px;     
    }

    .fraternityMenu{
        display: none;
    }

    .dashboardSection{
        width: 100%;
        height: 38.9vh;    
    }

    .dashboardSection > p{
        line-height: 1.5;
    }
  
}