* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 60px;

}

.input-field input {
    /* outline: none; */
    margin: 10px 0;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario a {
    align-self: flex-end;
    color: #b71f39;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 500;
}

.btn-form, .botao {
    border-radius: 40px;
    border: none;
}

.formulario .btn-form {
    width: 312px;
    height: 40px;
    color:white;
    background-color: #b71f39;
}

.separador {
    font-size: 12px;
    color: #736B6B;
    margin: 25px 0;

    display: flex;
    align-items: center;
}

.separador div {
    width: 138px;
    height: 0;
    border-bottom: 1px solid #736B6B;
    margin: 0 10px;
}

.social-fields {
    margin-bottom: 24px;
    width: 312px;
}

.criar-cadastro {
    width: 100%;
    padding: 0px 24px;
}

.background{
    display: none;
}

@media(min-width: 1280px){
    main {
        display: flex;
        flex-direction: row;
    }

    .background{
        display: flex;
        
    }
    .background > img{
        max-width: 60%;
        height: auto;
    }

}