<% if(!user){ %>
    <%- include('./partials/headerUnlogged') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>

<h1>Terms of use</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p> 
<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    <br><strong>Updated: Septeber 23, 2020</strong> 
</p>

<h2>Scope of terms</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>

<h2>Wined + as Platform provider</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. <br>Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>

<h2>Certain Restrictions</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. 
</p>
<p>
    Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>

<h2>The User’s obligations</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>

<h2>Platform functionalities</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Maintenance and support</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Wined +’s Warranty</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Liability limitation</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Duration and Termination</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Changes</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Miscellaneous</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Law and venue</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue 
</p>

<h2>Wined + Select SMS Program</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. 
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Etiam blandit ipsum non sapien aliquet commodo. Vestibulum sed enim facilisis, imperdiet ex et, sagittis urna. Vivamus in eleifend justo. Suspendisse vitae ante pharetra, gravida ligula non, fringilla magna. Duis congue non velit vitae imperdiet. In et quam faucibus nulla rhoncus semper. <br><br>
</p>

<%- include('./partials/footer') %>