<!DOCTYPE html>
<html lang = 'pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home | Wined +</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/animations.css">
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/landing-page-styles.css'>
    <link rel="stylesheet" href="stylesheets/<%= style %>.css">
</head>
<body>
    <header id="header-unlogged">
        <a id="init" href="/"><img id="logo" src="images/logo-wined-header.svg" alt="Wined logo"></a>
        <nav id="navbar">
            <div id="hamburger-container">
                <button type="button" id="hamburger-menu">
                    <img src="images/hamburger.svg" alt="Hamburger menu"/>
                </button>
            </div>
            <ul id="menu">
                <li><a href="#" class="what-is-wined">O que é a Wined +</a></li>
                <li><a href="#" class="confraries">Confrarias</a></li>
                <li><a href="/login" id="login">Entrar</a></li>
            </ul>
        </nav>
    </header>
    <script>
        const btnHamburger = document.getElementById("hamburger-menu");

        function toggleMenu() {
            const nav = document.getElementById("navbar");
            nav.classList.toggle("active")
        }
        btnHamburger.addEventListener("click", toggleMenu);
    </script>