<body>
    <main class="main">

        
        
        <section class="favoritesList">
            <h3>VINHOS FAVORITOS</h3>
            <div>

            </div>
        </section>
        <section class="wishList">
            <h3>VINHOS DESEJADOS</h3>
            <div>

            </div>
        </section>
    </main>

    
</body>
</html>